@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Jersey+10&family=Lobster&family=Matemasie&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Jersey+10&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Matemasie&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0px;  
   /* background: yellow;*/
}

.topo {
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    background: white
}

.logo{
   flex: 30%;
   
}

.logo h1{
    font-family: "Lobster", sans-serif;
    margin-left: 30%;
    font-size: 35px;
    color: #180f4a;
}

.menu{
   flex: 70%;
   text-align: right;
   padding: 20px;
}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #a10606;
    border-top: 4px solid #180f4a; 
}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #a10606;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 700px;
    padding-top: 100px;
    
}
.headert{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 700px;
    padding-top: 100px;
    
}
.topvidio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 700px;
    padding-top: 100px;
}
.vidio{
    font-family: "Lobster", sans-serif;
    color: #180f4a;
    flex: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.text-vidio{
    font-family: "Lobster Two", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(57, 56, 56); 
}

.img-vidio{
    margin-right: 0%;
    flex: 40%;
    text-align: center;
    
}

.tamanho-vidio{
    margin-top: 90px;
    width: 800px;
}

.cabeca-texto{
    
    flex: 40%;
    margin-left: 10%;
}
.cabeca-texto1{
    color: #180f4a;
    flex: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.cabeca-texto h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.cabeca-texto p{
    text-align: left;
    color:gray;   
}

.cabeca-texto1 p{
    text-align: left;
    color:rgb(69, 69, 69);   
}
.img-cabeca-texto{
    margin-right: 0%;
    flex: 40%;
    text-align: center;  
}

.tamanho-img{
    margin-top: 90px;
    width: 800px;
    
}

.contato-btn{
    display: inline-block;
    background: #a10606;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contato-btn:hover{
    background: #180f4a;  
}

section{
    display: inline-block;
    margin-top: 1850px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #180f4a;
}

.text-bold{
    font-size: 19px;
    font-weight: bold;
}
.text-bold1{
    font-size: 19px;
    font-weight: bold;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.texto-oculto{
    display: none;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1px;
    border: 1px solid #a10606;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background: #a10606;
    color: white;
    padding: 45px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 4%;
    height: 180px;
    background-image: linear-gradient(180deg,#180F4A,#090422,black);
    text-align: center;
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: "Lobster", sans-serif;
    font-size: 32px;
    color: white;
}

.whats{
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.cor{
    color: red;
    font-size: 15px;
}

h4{
    margin-bottom: 35px;
    height: 45px;
    color: white;
    font-size: 50px;
    margin-top: 2%;
}
h5{
    height: 0px;
    font-size: 35px;
    color: white;
    margin-top: 0%;
    margin-right: 8px; 
    
}
.h6n{
    margin: 70px;
    font-size: 20px;
}
p {
    font-weight: bold;
  }

.btnb1{
    margin-right: 180px;
    margin-top: 20px;
    display: inline-block;
    background: #a10606;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
.btnb2{
    margin-right: 90px;
    margin-top: 20px;
    display: inline-block;
    background: #a10606;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
.btnb3{
    margin-left:  110px;
    margin-top: 20px;
    display: inline-block;
    background: #a10606;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}

.btnb1:hover{
    background: #180f4a;
}
.btnb2:hover{
    background: #180f4a;
}
.btnb3:hover{
    background: #180f4a;
}